[Unit]
Description=Check for a new Pawn Swarm version every 15 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=15min

[Install]
WantedBy=timers.target
